h1 {
    background: black;
    opacity: .7;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#thanos {
 width: 400px;
 height: 620px;
 margin-right: 20px;
 margin-top: 7px;
 
}

#stones {
    background: black;
    opacity: .7;
    width: 400px;
    height: 620px;
    padding-left: 150px;
    margin-left: 20px;
}

#stonesTwo {
    background: black;
    opacity: .7;
    padding-left: 150px;
    width: 400px;
    height: 620px;
    margin-left: 10px;
}

body {
    background: url('https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/9/99/Maxresdefault_galaxy_.jpg/revision/latest?cb=20180702011238');
    color: white;
}

#winLoss {
    margin-left: 260px;
  background: black;
  opacity: .7;
  padding: 20px;
  width: 150px;
}

#board {
    margin-left: 120px;
    background: black;
    opacity: .7;
    padding: 20px;
    width: 150px;
}

img {
    width: 80px;
    height: 100px;
}